[report]
fail_under = 90
show_missing = True

[run]
omit =
    ./exert/usermode/task_struct_stack.py,
    ./exert/usermode/plugin.py,
    ./exert/utilities/debug.py,
    ./exert/utilities/types/*
parallel = True
sigterm = True
concurrency = multiprocessing
