.panda/
__pycache__/
.pytest_cache/
*.cpio
usermode/build
usermode/cross/*musl
usermode/cross/*musleabi
usermode/cross/*/*musl*
usermode/cross/*/include
usermode/cross/*/lib*
usermode/cross/*/share
usermode/cross/*/usr
usermode/cross/*/bin/*
!usermode/cross/*/bin/*gcc
