__pycache__/
.pytest_cache/
cache/*
!cache/rootfs
cache/rootfs/user_prog
cache/rootfs/busybox
.coverage
exert/usermode/build
*.cpio
*.gz
*.elf
*.log
linux
cache/rootfs/bin/sh
cache/rootfs/dev/fd
cache/rootfs/dev/stderr
cache/rootfs/dev/stdin
cache/rootfs/dev/stdout