[MAIN]

disable=
    unused-argument,
    fixme,
    global-statement,
    missing-function-docstring,
    missing-module-docstring,
    missing-class-docstring,
    no-name-in-module,
    too-few-public-methods,
    too-many-arguments,
    attribute-defined-outside-init,
    too-many-positional-arguments,
    too-many-instance-attributes,
    too-many-locals,
